h2 {
    color: blue;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.round {
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 1;
    border: 1px solid gray;
}


.bg {
    background: url("https://www.areal-hotel.ru/upload/uf/976/i3u9dqqzy164yh4wtvzvij69be23z2vi.jpg");
    width: 500px;
    height: 600px;
}

span {
    color: rgb(55, 8, 99);
    font-size: x-large;
}
.round {
    border-radius: 50%;
    /* width: 50px; */
    aspect-ratio: 1;
    border: 1px solid gray;
    background-color: rgb(109, 178, 243);
   
  }